<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>FeatureSource</display-name>
	<servlet>
		<servlet-name>CheckServlet</servlet-name>
		<servlet-class>serv.CheckServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>XMLServlet</servlet-name>
		<servlet-class>serv.XmlServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>JSONServlet</servlet-name>
		<servlet-class>serv.JsonServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JSONServlet</servlet-name>
		<url-pattern>/servlet/JsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>XMLServlet</servlet-name>
		<url-pattern>/servlet/XmlServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckServlet</servlet-name>
		<url-pattern>/servlet/CheckServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>